# .env.example — Valeurs fictives pour la documentation
# Copier ce fichier en .env et remplir avec les vraies valeurs
# NE JAMAIS committer le .env sur GitHub !

# PostgreSQL
POSTGRES_USER=votre_user
POSTGRES_PASSWORD=votre_mot_de_passe
POSTGRES_DB=labo_sante

# pgAdmin
PGADMIN_EMAIL=votre_email@example.com
PGADMIN_PASSWORD=votre_mot_de_passe

# MongoDB
MONGO_USER=votre_user
MONGO_PASSWORD=votre_mot_de_passe

# Mongo Express
MONGO_EXPRESS_USER=votre_user
MONGO_EXPRESS_PASSWORD=votre_mot_de_passe

# Taille du dataset : small / medium / large
DATA_SIZE=small
